# Binary Classification - Hotel Cancellations

# Table of Contents
- **[1. Data Preparation](#dapr)**
- **[2. Feature Engineering](#feen)**
- **[3. Duplicates](#dup)**

### Importing libraries/modules

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn.preprocessing as preprocessing
import sklearn.linear_model as linear_model
import lightgbm
import itertools
import time
import plotly.graph_objects as go
from math import ceil
import calendar
import sidetable as stb

#conda install -c conda-forge imbalanced-learn
#conda install -c conda-forge python-graphviz
#pip install plotly
#pip install tabulate
#%matplotlib inline

# 1. Data Preparation
<a class="anchor"  id="dapr" ></a>

### Loading dataset

In [2]:
df = pd.read_csv('H2.csv')

In [3]:
print(df.shape)

(79330, 31)

In [4]:
df.dtypes

IsCanceled                       int64
LeadTime                         int64
ArrivalDateYear                  int64
ArrivalDateMonth                object
ArrivalDateWeekNumber            int64
ArrivalDateDayOfMonth            int64
StaysInWeekendNights             int64
StaysInWeekNights                int64
Adults                           int64
Children                       float64
Babies                           int64
Meal                            object
Country                         object
MarketSegment                   object
DistributionChannel             object
IsRepeatedGuest                  int64
PreviousCancellations            int64
PreviousBookingsNotCanceled      int64
ReservedRoomType                object
AssignedRoomType                object
BookingChanges                   int64
DepositType                     object
Agent                           object
Company                         object
DaysInWaitingList                int64
CustomerType                    object
ADR                            float64
RequiredCarParkingSpaces         int64
TotalOfSpecialRequests           int64
ReservationStatus               object
ReservationStatusDate           object
dtype: object

The full data has 79330 observations. It has 31 descriptive features where "IsCanceled" is the target variable.

In [5]:
# Removing spaces:
features = ['DepositType', 'Company', 'Meal', 'ReservedRoomType', 'AssignedRoomType']
for feature in features: 
    df[feature] = df[feature].str.strip()

### Checking for data types and missing values

As can be seen in the follwing output, most of the variables are categorical (object type).
Furthermore we obtain the information, that the dataset does not contain any missing values.
But there are values which have incorrect values, which we will discuss in a moment.

In [6]:
#df.info()

### Handling Missing Values

String NULL or Undefined values

In [7]:
for col in df.columns:
    if df[col].dtype == 'object' and col != 'Country':
        df.loc[df[col].str.contains('NULL'), col] = np.nan
        df.loc[df[col].str.contains('Undefined', na=False), col] = np.nan
null_series = df.isnull().sum()
print(null_series[null_series > 0])

Children                   4
Country                   24
MarketSegment              2
DistributionChannel        4
Agent                   8131
Company                75641
dtype: int64

In [8]:
missing = df.isnull().sum()
missing_pourcent = df.isnull().sum()/df.shape[0]*100

dic = {
    'mising':missing,
    'missing_pourcent %':missing_pourcent
}
frame=pd.DataFrame(dic)
frame

                             mising  missing_pourcent %
IsCanceled                        0            0.000000
LeadTime                          0            0.000000
ArrivalDateYear                   0            0.000000
ArrivalDateMonth                  0            0.000000
ArrivalDateWeekNumber             0            0.000000
ArrivalDateDayOfMonth             0            0.000000
StaysInWeekendNights              0            0.000000
StaysInWeekNights                 0            0.000000
Adults                            0            0.000000
Children                          4            0.005042
Babies                            0            0.000000
Meal                              0            0.000000
Country                          24            0.030253
MarketSegment                     2            0.002521
DistributionChannel               4            0.005042
IsRepeatedGuest                   0            0.000000
PreviousCancellations             0            0.000000
PreviousBookingsNotCanceled       0            0.000000
ReservedRoomType                  0            0.000000
AssignedRoomType                  0            0.000000
BookingChanges                    0            0.000000
DepositType                       0            0.000000
Agent                          8131           10.249590
Company                       75641           95.349805
DaysInWaitingList                 0            0.000000
CustomerType                      0            0.000000
ADR                               0            0.000000
RequiredCarParkingSpaces          0            0.000000
TotalOfSpecialRequests            0            0.000000
ReservationStatus                 0            0.000000
ReservationStatusDate             0            0.000000

We can delete NULLvalues in country, children, market_segment, distribution_channel, because there are few NULLvalues in these fields.

In [9]:
subset = [
    #'Country',      
    'Children',      
    'MarketSegment',      
    'DistributionChannel'
] 
df = df.dropna(subset=subset)

In [10]:
df['Country'] = df['Country'].fillna(df['Country'].value_counts().index[0])

As the source mentioned that no missing value should exist, it is surprising to find 4 observations with missing values for the children feature. Given that those only represent 0.003% of the data, we believe that it is safer not to use those observations in our analysis and modeling. As a result, we will drop the 4 observations with missing children values.

The ADR field refers to the average price per night of the reservation. Therefore, it is not normal for it to take a value smaller than zero. We delete values that are smaller than zero for the ADR field.

In [11]:
#we deleted 1208 rows with values ADR == 0
#df = df[df.ADR > 0]

In [12]:
df.isnull().sum().loc[lambda x : x>0].sort_values(ascending=False)

Company    75637
Agent       8129
dtype: int64

delete company since the feature has more than 95% missing data, fill it with a special character would not add additional information

In [13]:
df =df.drop(columns = ['Company']) # 'Agent',

The article providing the data stated: "The Property Management System assured no missing data exists in its database tables. However, in some categorical variables like Agent or Company, “NULL” is presented as one of the categories. This should not be considered a missing value, but rather as “not applicable”. For example, if a booking “Agent” is defined as “NULL” it means that the booking did not came from a travel agent."
As a result, "NULL" values for agent  will be changed to 0for clarity purposes.

In [14]:
# Changing agent value of "NULL" to 0:
df['Agent'].replace(to_replace='NULL', value='0', inplace=True)
#df['Agent'].replace(to_replace='NULL', value=9999, inplace=True)
df['Agent'] = df['Agent'].replace(np.nan, '0')

# Changing company value of "NULL" to "No Company":
df["Company"].fillna('0', inplace = True) 

df.loc[df.Company.isnull(), 'Company'] = '0'

Change type of column children from float to int

In [15]:
cols = ['Children']#, 'Agent'
df[cols] = df[cols].applymap(np.int64)

Change to date type format

In [16]:
df["ReservationStatusDate"] = pd.to_datetime(df["ReservationStatusDate"])

In [17]:
df.isnull().sum().loc[lambda x : x>0].sort_values(ascending=False)

Series([], dtype: int64)

Delete rows where Adult and Children value equals 0

In [18]:
#df[(df.Adults+df.Babies+df.Children)==0].shape
zero_adult_child = len(df.loc[(df['Adults'] == 0) & (df['Children'] == 0)])
df = df.drop(df[(df.Adults == 0) & (df['Children'] == 0)].index)

print("Amount of rows with 0 adults and children:", zero_adult_child)

Amount of rows with 0 adults and children: 167

# 2. Feature Engineering
<a class="anchor"  id="feen" ></a>

In [19]:
df['TotalStays'] = df['StaysInWeekendNights'] + df['StaysInWeekNights']
df[df['TotalStays'] == 0]
#but its OK there are some guys need a room by the night haha

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,TotalStays
473,0,0,2015,July,31,28,0,0,2,0,...,No Deposit,0,0,Transient,0.0,0,0,Check-Out,2015-07-28,0
474,0,0,2015,July,31,28,0,0,2,0,...,No Deposit,0,0,Transient,0.0,0,0,Check-Out,2015-07-28,0
961,0,0,2015,August,33,11,0,0,2,0,...,No Deposit,0,0,Transient,0.0,0,0,Check-Out,2015-08-11,0
1079,0,0,2015,August,33,13,0,0,2,0,...,No Deposit,0,0,Contract,0.0,0,2,Check-Out,2015-08-13,0
1964,0,0,2015,August,36,30,0,0,1,0,...,No Deposit,0,0,Transient,0.0,0,0,Check-Out,2015-08-30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75423,0,15,2017,July,27,6,0,0,1,0,...,No Deposit,14,0,Transient-Party,0.0,0,0,Check-Out,2017-07-06,0
77641,0,0,2017,August,32,8,0,0,2,0,...,No Deposit,262,0,Transient,0.0,0,0,Check-Out,2017-08-08,0
77969,0,0,2017,August,33,14,0,0,2,0,...,No Deposit,0,0,Transient,0.0,0,0,Check-Out,2017-08-14,0
78571,0,78,2017,August,34,23,0,0,1,0,...,No Deposit,98,0,Transient-Party,0.0,0,0,Check-Out,2017-08-23,0
78903,0,1,2017,August,35,27,0,0,2,0,...,No Deposit,0,0,Transient,0.0,0,0,Check-Out,2017-08-27,0

Another feature we’re going to create is a combination of information from children and babies columns. Let’s call this feature all_children.

In [20]:
# Create new feature:`all_children`
df['all_children'] = df['Children'] + df['Babies']
pd.crosstab(df['Adults'], df['all_children'], margins=True, margins_name = 'Total').iloc[:10]

all_children      0     1     2   3  9  10  Total
Adults
0                 0     4   205  14  0   0    223
1             15564   204   107   3  1   0  15879
2             53523  2946  1717  65  0   1  58252
3              4638   109    27   0  0   0   4774
4                31     0     0   0  0   0     31
Total         73756  3263  2056  82  1   1  79159

In [21]:
# Change the arrival_date_month into int64
df['ArrivalDateMonth'] = df['ArrivalDateMonth'].apply(lambda x : list(calendar.month_name).index(x))

In [22]:
df['ArrivalDate'] = pd.to_datetime(df['ArrivalDateYear'].astype('str')+'-' + 
                                   df['ArrivalDateMonth'].astype('str')+'-'+
                                   df['ArrivalDateDayOfMonth'].astype('str'))
df['ArrivalDate'] = pd.to_datetime(df['ArrivalDate'], format="%Y-%m-%d")

#df.drop(columns = ['ArrivalDateYear', 'ArrivalDateMonth', 'ArrivalDateDayOfMonth'], inplace=True)

The original dataset provides both the arrival date and the reservation status date (date at which the last status change was made in the property management system). For customers who canceled their booking, the reservation status date represents the date when the booking was canceled. For customers who did not cancel their booking, the reservation status date represents the date when the guest checked-out of the hotel.
As a result, calculating the difference between the arrival date and the reservation status date tells us how many days prior to supposed arrival a customer canceled their booking (for canceled reservations) OR how many days a guest stayed at the hotel (for not canceled reservations).

In [23]:
def parking(row):
    if (row['RequiredCarParkingSpaces'] < 1):
        return 0
    else :
        return 1
    
df['parking_space'] = df.apply(parking, axis = 1)
df.stb.freq(['parking_space'], cum_cols = False)

# we want simplified into 2 segment booking that require parking space and booking that doesn't require a parking space 
# we that from here only 2.5 percent of the booking that require parking space

   parking_space  count    percent
0              0  77239  97.574502
1              1   1920   2.425498

In [24]:
def cancellation(row):
    if (row['PreviousCancellations'] == 0):
        return 0
    else :
        return 1

df['isPreviousCancellations'] = df.apply(cancellation, axis = 1)
df.stb.freq(['isPreviousCancellations'], cum_cols = False)

   isPreviousCancellations  count    percent
0                        0  73775  93.198499
1                        1   5384   6.801501

In [25]:
df.stb.freq(['BookingChanges'], cum_cols = False)

# almost 85 % of the customers never change their booking 
# since there are many values of this booking changes column 
# we will group it in to does the booking ever been changes or not

    BookingChanges  count    percent
0                0  68983  87.144860
1                1   7200   9.095618
2                2   2219   2.803219
3                3    455   0.574793
4                4    185   0.233707
5                5     43   0.054321
6                6     30   0.037898
7                7     17   0.021476
8                8      7   0.008843
9                9      4   0.005053
10              15      3   0.003790
11              14      3   0.003790
12              13      3   0.003790
13              10      3   0.003790
14              18      1   0.001263
15              17      1   0.001263
16              16      1   0.001263
17              11      1   0.001263

In [26]:
def changes(row):
    if (row['BookingChanges'] == 0):
        return 0
    else :
        return 1

df['isBookingChanges'] = df.apply(changes, axis = 1)
df.stb.freq(['isBookingChanges'], cum_cols = False)

   isBookingChanges  count   percent
0                 0  68983  87.14486
1                 1  10176  12.85514

# 3. Duplicates
<a class="anchor"  id="dup" ></a>

Given the data was obtained directly from the hotel's Property Management Systems, we do not expect any duplicates. However, it is good practice to ensure our dataset does not contain duplicates.

In [27]:
duplicateRowsDF = df[df.duplicated()]
duplicateRowsDF

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,TotalStays,all_children,ArrivalDate,parking_space,isPreviousCancellations,isBookingChanges
9,1,62,2015,7,27,2,2,3,2,0,...,0,1,No-Show,2015-07-02,5,0,2015-07-02,0,0,0
12,0,43,2015,7,27,3,0,2,2,0,...,0,0,Check-Out,2015-07-05,2,0,2015-07-03,0,0,0
17,0,43,2015,7,27,3,0,2,2,0,...,0,0,Check-Out,2015-07-05,2,0,2015-07-03,0,0,0
18,0,43,2015,7,27,3,0,2,2,0,...,0,0,Check-Out,2015-07-05,2,0,2015-07-03,0,0,0
22,0,43,2015,7,27,3,0,2,2,0,...,0,0,Check-Out,2015-07-05,2,0,2015-07-03,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79289,0,186,2017,8,35,31,0,3,2,0,...,0,2,Check-Out,2017-09-03,3,0,2017-08-31,0,0,0
79292,0,63,2017,8,35,31,0,3,3,0,...,0,2,Check-Out,2017-09-03,3,0,2017-08-31,0,0,0
79293,0,63,2017,8,35,31,0,3,3,0,...,0,2,Check-Out,2017-09-03,3,0,2017-08-31,0,0,0
79294,0,63,2017,8,35,31,0,3,3,0,...,0,2,Check-Out,2017-09-03,3,0,2017-08-31,0,0,0
79313,0,175,2017,8,35,31,1,3,1,0,...,0,1,Check-Out,2017-09-04,4,0,2017-08-31,0,0,0

Our dataset contains duplicates. However, it is possible that multiple bookings with the same features were made on the same say. Since we do not have a feature such as "booking ID", we cannot say for sure that those are true duplicates which makes deleting those "duplicates" questionable.
Note: For modeling purposes, models were run with and without the duplicates and greater predictive power was found when the "duplicates" were included. As a result, we will keep the "duplicates". <br>
Since the data has been cleaned, it has no more missing value. Next, we do an exploratory data analysis

In [28]:
df.to_csv('H2_cleaned.csv' ,index= False)